@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="assets/images/bg-wide.jpg" alt="Full Image" class="full-image" data-mask="80">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Nothing Found</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text">Nothing Found</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Result -->
<section id="result" class="section-1 offers">
    <div class="container">
        <div class="row items">
            <div class="col-12 col-md-4 pr-md-5 text">
                <div data-aos="fade-up" class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-0">Nothing found in</span>
                        <h2>/something</h2>
                        <p>The page you tried to access does not exist or has changed address. Try using other search terms.</p>
                        <div class="badges">
                            <span class="badge"><a href="#">Consulting</a></span>
                            <span class="badge"><a href="#">Audit</a></span>
                            <span class="badge"><a href="#">Assurance</a></span>
                        </div>
                        <div class="row">
                            <div class="col-12 p-0 input-group">
                                <input type="text" class="form-control" placeholder="Enter Keywords">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 p-0 input-group align-self-center">
                                <button class="btn primary-button">SEARCH</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-4 item">
                <div class="card">
                    <div class="col-12">
                        <img src="assets/images/gallery-1.jpg" alt="Logo" class="logo">
                        <h4>Related 1</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-4 item">
                <div class="card">
                    <div class="col-12">
                        <img src="assets/images/gallery-2.jpg" alt="Logo" class="logo">
                        <h4>Related 2</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                        <a href="#">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>