
@model List<InformationThumbnailViewModel>

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section id="blog" class="section-4 form carousel">
    <div class="overflow-holder">
        <div class="container">
            <div class="row intro">
                <div class="col-12 col-md-9 align-self-center text-center text-md-left">
                    <h2>@TextConstants.InformationSectionHeader</h2>
                    <p>@TextConstants.InformationSectionDescription</p>
                </div>
            </div>
            <div class="swiper-container mid-slider items" data-perview="3">
                <div class="swiper-wrapper">
                    
                    @{
                        foreach (InformationThumbnailViewModel thumbnailViewModel in Model)
                        {
                            <div class="swiper-slide slide-center item">
                                <div class="row card p-0 text-center">
                                    <div class="image-over">
                                        <img src=@thumbnailViewModel.ThumbnailImageLink alt="Thumbnail">
                                    </div>
                                    <div class="card-caption col-12 p-0">
                                        <div class="card-body">
                                            <a href="page-single-post-1.html">
                                                <h4>@thumbnailViewModel.Topic</h4>
                                                <p>@thumbnailViewModel.Summary</p>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>